@import "tailwindcss";

@theme {
    --color-primary: #047F39;
    --color-primary-2: #047C37;
    --color-primary-border: #037333;

    --color-neutral-bg: #DADEDA;
    --color-neutral-hover: #CCD0CC;
    
    --color-error-bg: #BD3133;
    --color-error-border: #B02D2F;

    --color-link-primary: #02642B;
}