@import "tailwindcss";

@theme {
    --color-primary: #047F39;
    --color-primary-2: #047C37;
    --color-primary-border: #037333;

    --color-base-300: #E1E8E1;
    --color-base-content: #1D271F;

    --color-neutral-bg: #DADEDA;
    --color-neutral-hover: #CCD0CC;
    
    --color-error-bg: #BD3133;
    --color-error-border: #B02D2F;
    --color-error: #D03739;

    --color-link-primary: #02642B;

    --color-success: #1A9951;
}